body{
    background-image: url(testbackground.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin: 10px;
}

h1{
    background-color: rgb(130, 131, 136);
    padding: 5px;
    text-align: center;
    border: solid black 3px;
}

.lbl{
    width: 100px;
    display: inline-block;
    color: rgb(48, 155, 226);
}

input[type=submit]{
    margin-left: 104px;
}

.errors{
    background-color: rgb(223, 39, 39);
    color: white;
    padding: 3px;
}
